* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1440px;
    min-height: 800px;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
}

.top_container{
    display: flex;
    height: 41%;
    width: 100%;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: rgb(236, 234, 234);
    box-shadow: 1px 1px 7px 7px rgba(59, 55, 55, 0.075);
}

.bottom_container{
    display: flex;
    height: 58%;
    width: 100%;
}

ul {
    list-style-type: none;
}

.top_container h1, h2, p{
    margin-left: 10%;
    margin-top: 5%;
    width: 100%;
    font-size: 1.2em;
}

.top_container h1{
    font-size: 1.5em;
    color: rgb(23, 171, 182);
}

.top_container h2{
    color: rgb(191, 223, 13);
    font-size: 1.3em;
}

.top_container p{
    color: hsl(218, 22%, 67%);
    line-height: 5px;
    font-weight: 400;
}

.top_container p{
    width: 100%;
    margin-bottom: -1%;
}

.left_container{
    display: flex;
    flex: 1;
    height: 75%;
    flex-direction: column;
    background-color: rgb(40, 165, 165);
}

.left_container h2{
    margin-bottom: 5%;
    padding-left: 10%;
    color: white;
}

#price{
    margin-left: 20%;
    font-size: 1.5em;
    color: white;
}

#month{
    margin-left: 2%;
    color: hsla(204, 11%, 91%, 0.705);
}

#access{
    position: relative;
    margin-left: 20%;
    top: 1em;
    font-size: 1.1em;
    color: white;
    
}

#signup p{
    position: relative;
    margin-top: 20%;
    left: 35px;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(65, 60, 60, 0.075);
    text-align: center;
    background-color:rgb(191, 223, 13);
    color: white;
    font-weight: 700;
}


.right_container{
    flex: 1;
    height: 75%;
    background-color: rgb(79, 199, 199);
}

.right_container h2{
    margin-bottom: 5%;
    color: white;
}
.right_container li{
    margin-top: 2%;
    margin-left: 10%;
    color: hsl(204, 43%, 93%);
}
